body {
  min-width: 300px;
  background: $medium-gray;
}

.flashes {
  width: 100%;
}

main {
  padding-top: 55px; //for header
  background: $off-white;
}

.main {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.panel {
  display: flex;
  flex-flow: row wrap;
  flex: 1 0 100%;
  justify-content: center;
  align-items: center;
  padding: $base-spacing * 1.5 0;

  &.feed {
    background: $off-white;
    justify-content: center;
  }

  &.divide {
    position: relative;
    padding: $base-spacing * 2 $small-spacing 0 $small-spacing;
    top: -6px;
    background: $off-white;

    hr {
      width:100%;
      margin: 0;
    }

    span {
      position: relative;
      display: inline-block;
      background: $off-white;
      top: -24px;
      padding: $small-spacing;
      border: 1px solid #ccc;
      border-radius: 3px;
    }
  }

  &.alternate {
    justify-content: center;
  }

  &.alert {
    padding-bottom: 0;
  }

  .alert-bar{

    form {
      display: flex;
      padding: $small-spacing;

      input {
        margin:0;
        padding: $small-spacing;
        flex: 0 1 auto;
        border-radius: 3px 0 0 3px;
      }

      input[type='submit']{
        flex: 0 1 33.33%;
        border-radius: 0 3px 3px 0;
      }
    }

    p {
      text-align: center;
      margin: 0;
    }

    h2 {
      width: 100%;
      text-align: center;
    }
  }

  .welcome {
  padding: $base-spacing * 0.75;
  margin: $small-spacing * 0.5;
  max-width: 400px;
  text-align: center;

    img {
      position: relative;
      top: 15px;
      width: 150px;
    }

    &.alt {
      max-width: 325px;
    }
  }
}
