body {
  min-width: 300px;
  background: $medium-gray;
}

.flashes {
  width: 100%;
}

main {
  padding-top: 55px; //for header
  background: $off-white;
}

.main {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.panel {
  display: flex;
  flex-flow: row wrap;
  flex: 1 0 100%;
  justify-content: center;
  align-items: center;
  padding: $base-spacing * 1.5 0;

  &.feed {
    background: $off-white;
    justify-content: space-around;
  }

  &.divide {
    position: relative;
    padding: 0 $small-spacing;
    top: -6px;
    background: $off-white;

    hr {
      width:100%;
      margin: 0;
    }

    span {
      position: relative;
      display: inline-block;
      background: $off-white;
      top: -14px;
      padding: 0 $small-spacing;
    }
  }

  .welcome {
  padding: $base-spacing;
  margin: $small-spacing * 0.5;
  max-width: 400px;
  text-align: center;

  }

  h2 {
    font-size: $base-font-size * 1.75;
    text-align: center;
    margin-bottom: $base-spacing;
  }

  p {
    font-size: $base-font-size * 1.25;
  }
}
