#left {
	position: absolute;
	top: 80px;
	bottom: 0;
	left: -100%;
	width: 100%;
	background: $dark-green;
	color: #fff;
	transition: $base-transition;
  text-align:center;
	z-index: 3;
}

#left.active, #left.active ~ main {
	transform: translate3d(100%, 0, 0);
	transition: $base-transition;
}