.full {
  width: 100%;

  p {
    text-align: center;
    padding: $base-spacing;
  }

  h3 {
    font-size: $base-font-size * 1.25;
    font-weight: bold;
  }

  &.box {
  text-align: left;
  }

  .item-image-first {
    height: 150px;
      padding-top: $base-spacing * 1.25;
  }
}

#directions-demo {
  display: block;
  border-radius: 50%;
  border: 4px solid $medium-green;
  padding: $base-spacing;
  margin: $base-spacing * -1;
}
