.full {
  width: 100%;
  text-align: center;
  display: block;

  h3 {
    font-size: $base-font-size * 1.25;
    font-weight: bold;
  }

  .box {
    margin-top: $small-spacing;
    text-align: left;
    font-size: $base-font-size * 1.25;
    max-width: 54em;
    margin-left: auto;
    margin-right: auto;
  }

  .item-image-first {
    height: 150px;
      padding-top: $base-spacing * 1.25;
  }

  .padding-left-right {
    padding: 0 $small-spacing;
  }
}
