#right {
	position: absolute;
	top: 80px;
	bottom:0;
	right: -100%;
	width: 100%;
	background: $dark-green;
	color: #fff;
	transition: $base-transition;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
	z-index: 3;
  
  h2 {
    display: flex;
    justify-content: center; 
  }
  
  div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  span {
    margin-top: 1em;
  }
}

#right.active, #right.active + main  {
	transform: translate3d(-100%, 0, 0); 
	transition: $base-transition;
}