<div class="panel alternate">

  <div class="request-container">
    <h2>I'm looking for</h2>
    <div class="request-bar">
      <input id="request-bar" class="request-box" type="text" placeholder="" value="" onfocus="if (this.value == '') {this.value = '';}" onblur="if (this.value == '') {this.value = '';}" />
      <button class="sign-up-toggle" title="Tell us what you're looking for">Go</button>
    </div>
  </div>
  <%= render "application/sign_up_form" %>
</div>
<div class="panel divide">
  <hr>
  <span>
    <strong>Here's a few recent finds</strong>
  </span>
</div>
<div class="panel feed">
  <div class="welcome">
    <div class="item-image">
      <%= image_tag "bbroc-find.png", alt: "See what's fresh with Best Broccoli" %>
    </div>
    <h2>Know what's fresh</h2>
    <div>
      <p>We find the freshest produce and specialty items in town.</p>
    </div>
      <div class="fb-like" data-href="http://www.bestbroccoli.com" data-layout="standard" data-width="300" data-action="like" data-show-faces="true" data-share="true"></div>
  </div>
  <%= render @posts %>
</div>
