<div class="panel alternate border-bottom">
  <h1 class="full box front headline">Know what's fresh.</h1>
  <div class="tagline">
    <p>We find the best produce, artisan products and specialty items in Dar</p>
    <div class="fb-like" data-href="https://www.facebook.com/bestbroccoli" data-width="225" data-layout="box_count" data-action="like" data-show-faces="false" data-share="false"></div>
    <p class="last">Like us for updates</p>
  </div>
  <p>
</div>
<div class="panel feed">
  <%= render @posts %>
</div>
<div class="panel">
  <span class="full">Want to see your products listed here? <a href="mailto:info@bestbroccoli.com?subject= Vendor Inquiry" >Let us know</a></span>
</div>
<div class="panel alternate border-top last">
  <h1 class="full box front">We take requests!</h1>
  <div class="request-container">
    <h2 class="reqeust">I'm looking for</h2>
    <div class="request-bar">
      <input id="request-bar" class="request-box" type="text" placeholder="" value="" onfocus="if (this.value == '') {this.value = '';}" onblur="if (this.value == '') {this.value = '';}" />
      <button class="sign-up-toggle" title="Tell us what you're looking for">Go</button>
    </div>
  </div>
  <%= render "application/sign_up_form" %>
</div>