<div class="panel">
  <div class="welcome">
    <h2>It's simple. You'll know what's fresh in town.</h2>
    <p>Your free account gives you access to a live feed of fresh items.</p>
  </div>
  <%= render "application/authentication_forms" %>
</div>
<div class="panel divide">
  <hr>
  <span>here's a sneak peek</span>
</div>
<div class="panel feed">
  <%= render partial: "posts/teaser_post", collection: @posts %>
</div>
