<div class="panel feed">
  <%= render @posts %>
</div>
<div class="panel divide">
  <hr>
  <span>Sign up to see more</span>
</div>
<div class="panel">
  <div class="welcome">
    <h2>Know what's fresh in town.</h2>
    <span>made for the <i class="fa fa-heart-o"></i> of fresh produce</span>
  </div>
  <%= render "application/authentication_forms" %>
</div>
<%= render "flashes" -%>
