<div class="panel feed">
<div class="intro-post">
  <div class="item-image post">
    <%= image_tag "fresh-welcome.jpg", alt: "Welcome to Best Broccoli" %>
  </div>
  <h2>See what's fresh</h2>
    <div style="text-align: center;">
    <span>Think we're on to something?</span>
    <div class="fb-like" style="top: -2px; left: 5px;" data-href="http://www.bestbroccoli.com" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
    </div>
  </div>
  <%= render @posts %>
</div>
<div class="panel divide">
  <hr>
  <span>Sign up to see more</span>
</div>
<div class="panel">
  <div class="welcome">
    <h2>Know what's fresh</h2>
    <span>Sign up for updates on the freshest produce and specialty items around town.</span>
  </div>
  <%= render "application/authentication_forms" %>
</div>
<%= render "flashes" -%>
