<h2>What's fresh in town?</h2>
<ul>
  <li><i class="fa fa-map-signs"></i> Discover fresh local items</li>
  <li><i class="fa fa-plus-square"></i> Post your discoveries</li>
  <li><i class="fa fa-heart"></i> List the items you love</li>
</ul>
<%= render "application/authentication_forms" %>

<ul>
  <%= render partial: "posts/teaser_post", collection: @posts %>
</ul>