<div class="panel alternate border-bottom">
    <div class="welcome">
      <h1 class="full box front headline">Know what's fresh.</h1>
      <h4>
        Best Broccoli helps you find what you're shopping for in Dar
        <div class="fb-like" data-href="https://www.facebook.com/bestbroccoli" data-width="225" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
      </h4>
    </div>
    <%= render "authentication_forms" %>
</div>
<div class="panel feed">
  <%= render @posts %>
</div>
<div class="panel alternate border-top last">
  <h1 class="full box front">We take requests!</h1>
  <div class="request-container">
    <h2 class="reqeust">I'm looking for</h2>
    <div class="request-bar">
      <input id="request-bar" class="request-box" type="text" placeholder="" value="" onfocus="if (this.value == '') {this.value = '';}" onblur="if (this.value == '') {this.value = '';}" />
      <button class="sign-up-toggle" title="Tell us what you're looking for">Go</button>
    </div>
  </div>
  <%= render "application/sign_up_form" %>
</div>
