<div class="panel">
  <div class="welcome">
    <%= image_tag "icon.svg", alt: "best broccoli logo" %><h1>best broccoli</h1>
    <h2>know what's fresh</h2>
  </div>
  <%= render "application/authentication_forms" %>
</div>
<div class="panel">
  <span style="width:100%; text-align: cetner;"><hr></span>
    <%= render partial: "posts/teaser_post", collection: @posts %>
</div>
