<div class="panel full">
  <h2>About</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras commodo suscipit quam, ullamcorper sagittis sem cursus et.
    Sed id est tincidunt, scelerisque odio pellentesque, molestie lacus. Nunc ac ornare libero. Proin tempus quis augue eu efficitur.
    Praesent id lorem pellentesque, aliquet odio quis, vehicula nibh. Sed suscipit scelerisque aliquet. Sed finibus porta molestie.
    Proin posuere erat ac aliquet dictum. Curabitur viverra venenatis dolor at euismod. Nunc commodo gravida libero non dapibus.
  </p>
</div>
