<div class="panel full">
  <h2 class="full">About</h2>
  <p class="box padding-left-right">
    Best Broccoli helps you find the best produce, artisan products and specialty items in Dar. We're currently focusing our efforts around Oyster Bay and Masaki while we refine our approach and gather people's <%= mail_to 'info@bestbroccoli.com', 'feedback', subject: 'General Feedback' %>.
  </p>
</div>
<div class="panel">
  <div class="welcome">
    <div class="item-image">
      <%= image_tag "bbroc-find.png", alt: "Enjoy what's fresh with Best Broccoli" %>
    </div>
    <h2>See what's fresh</h2>
    <div>
      <p>Take a look at the live post feed to see what's fresh.</p>
    </div>
  </div>
  <div class="welcome">
    <div class="item-image">
      <%= image_tag "bbroc-enjoy.png", alt: "Enjoy what's fresh with Best Broccoli" %>
    </div>
    <h2>Know what's fresh</h2>
    <p>
      Like our page for updates.
      <div class="fb-like" data-href="https://www.facebook.com/bestbroccoli" data-width="225" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
    </p>
  </div>
  <div class="welcome">
    <div class="item-image">
      <%= image_tag "bbroc-know.png", alt: "Enjoy what's fresh with Best Broccoli" %>
    </div>
    <h2>Find what's fresh</h2>
    <div>
      <p>Enter your request and we'll alert you when we find it.</p>
    </div>
  </div>
</div>
<div class="panel">
  <span class="full">Want to see your products listed here? <a href="mailto:info@bestbroccoli.com?subject= Vendor Inquiry" >Let us know</a></span>
</div>
