<div class="panel full">
  <h2>About</h2>
  <div class="panel">
    <div class="welcome">
      <div class="item-image-first">
        <%= image_tag "bbroc-see.png", alt: "See what's fresh with Best Broccoli" %>
      </div>
      <h2>See what's fresh</h2>
      <div>
        <span>We list the freshest produce and specialty items in town. Here's a few recent posts.</span>
      </div>
    </div>
    <div class="welcome">
      <div class="item-image">
        <%= image_tag "bbroc-find.png", alt: "Find what's fresh with Best Broccoli" %>
      </div>
      <h2>Find what's fresh</h2>
      <div>
        <span>Not sure how to get there? Tap on the vendor name and instantly get directions!</span>
      </div>
    </div>
<!--
    <div class="post">
      <div class="item-image">
        <img alt="Fresh Apples" src="/public/apples-placeholder.jpg">
      </div>
      <div class="headline" title="Apples">
        <h2 itemprop="headline">Apples</h2>
        <div>
          <img alt="Garden Market logo" class="avatar" src="/public/garden-market.jpg">
        </div>
      </div>
      <div class="detail">
        <h3>
          <span id="directions-demo">
            at <a target="_blank" href="https://maps.google.com/?q=-6.773374,39.276718" title="Click this link for directions">Garden Market</a>
          </span>
        </h3>
        <h3>
          <span>2 hours ago</span>
        </h3>
      </div>
    </div>
-->
    <div class="welcome">
      <div class="item-image">
        <%= image_tag "bbroc-know.png", alt: "Know what's fresh with Best Broccoli" %>
      </div>
      <h2>Know what's fresh</h2>
      <div>
        <span>Don't see what you're looking for? Add an alert and we'll let you know when it's available.</span>
      </div>
    </div>
    <div class="welcome">
      <div class="item-image">
        <%= image_tag "bbroc-enjoy.png", alt: "Enjoy what's fresh with Best Broccoli" %>
      </div>
      <h2>Enjoy what's fresh</h2>
      <span>Think we're on to something?</span>
    </div>
  </div>
</div>
