<div class="panel full">
  <h2>Feedback</h2>
  <p class="full">
    We're always looking to improve. Drop us a line:
    <a href="mailto:bestbroccoli@gmail.com">bestbroccoli@gmail.com</a>
  </p>
</div>
