<div class="panel full">
  <h2 class="full">Feedback</h2>
  <p class="box">
    We're always looing for ways to improve Best Broccoli. Something not working for you? Feel like something's missing? Let us know what's on your mind. <a href="mailto:info@bestbroccoli.com?subject=General Feedback">Drop us a line.</a>
  </p>
</div>
