.sign-up, .sign-in {
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  background: transparent;
  border: 0;
  box-shadow: none;
  min-height: 375px;

  .toggle-container {
    display: flex;
    flex: 1 0 100%;
    justify-content: space-between;
    align-items: center;

    span:first-of-type {
      font-size: $base-font-size * 1.25;
    }
  }

  &.hidden {
    display: none;
  }
}
