.content-controls {
  display: flex;
  flex-wrap: wrap;
  padding: $base-spacing $small-spacing 0 $small-spacing;
  text-align: center;
  border-bottom: 1px solid $light-gray;

  h1 {
    font-size: 1.6em;
  }

  .control {
    flex: 1 1 auto;
    padding: 0 $small-spacing/2;
    margin-bottom: $base-spacing*2;
  }

  .button, input[type=submit] { 
    max-width: 13em; 
  }
}