footer {
	padding: $base-spacing $base-spacing 0 $base-spacing;
	text-align: center;
  flex: 0 1 100%;
  font-size: $base-font-size * 0.85;
  font-family: 'Open Sans', sans-serif;
  background: $medium-gray;
	color: #fff;

  .menu-links {

    margin: $base-spacing * 3 0;

    li {
      display: inline-block;
      padding: 0 $base-spacing * 1.25;

			&:first-of-type {
				padding-left: 0;
			}

			&:last-of-type {
				padding-right: 0;
			}

			a {color:#fff;}
		}
  }

	img {

		filter: grayscale(100%);
		width: 38px;
		opacity: 0.25;
	}

	.copyright {
		display: block;
		width: 100%;
		opacity: 0.25;
		font-size: $base-font-size * 0.85;
		font-weight: bold;
		padding-bottom: $base-spacing * 1.25;
	}
}
