header {
	position: fixed;
	display: flex;
	width: 100%;
	background: rgba(255,255,255,0.90);
	flex-flow: row wrap;
	justify-content: space-around;
	padding: $small-spacing;
	box-shadow: 0 2px 2px -2px #ccc;
	z-index: 99;

  h1.main-logo {
		font-size: $base-font-size * 1.25;
		margin: 0;

    a {
      color: $medium-gray;

      img {
        height: 30px;
				vertical-align: text-bottom;;
      }
    }
  }

	ul {
		display: inline-flex;
		justify-content: flex-end;
		align-items: center;
		flex: 0 1 auto;

		img {
			border-radius: 50%;
			height: 30px;
			width: 30px;
			vertical-align: middle;
		}

		.user-name {
			font-size: $base-font-size * 0.85;
			color: $medium-gray;
		}
	}


}
