header {
	display: flex;
	width: 100%;
	background: $dark-green;
	flex-flow: row wrap;
	justify-content: space-between;;
	padding: $small-spacing;
	box-shadow: $base-box-shadow;

  h1.main-logo {
    text-transform: lowercase;
		margin: 0;

    a {
      color:#fff;

      img {
        height: 30px;
      }
    }
  }

	ul {
		display: inline-flex;
		justify-content: flex-end;
		align-items: center;
		flex: 0 1 auto;

		img {
			border-radius: 50%;
			height: 30px;
			width: 30px;
			vertical-align: middle;
		}
	}
}
