#new-post {
  min-width: 325px;

  .item-image { width: 305px; }

  .camera { margin-bottom: $small-spacing;}

  #inputImage {
    opacity: 0.01;
    position: absolute;
    top: -150px;
  }

  #new_post {
    display: flex;
  }

  .headline img { height: 48px; width: 48px; max-width: 48px;}

  .hidden { display: none;}

  .detail .form-actions {
    width: 100%;
  }
}
