.request-container {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  padding: 0 $small-spacing * 0.4  $base-spacing $small-spacing * 0.4;
  justify-content: center;
  align-items: center;

  .request-bar {
    display: flex;
    flex-flow: row wrap;
    min-width: 300px;


    input[type="text"] {
      font-size: 1.75em;
      font-weight: 700;
      margin: 0;
      border-radius: 6px 0 0 6px;
      width: 80%;
    }

    button, input[type="submit"]  {
      width: 20%;
      border-radius: 0 6px 6px 0;
      border: 1px solid #ccc;
    }
  }

  h2 {
    font-size: 1.75em;
    margin-bottom: 0;
    padding: $small-spacing * 0.5;
  }
}
