.user-post {
  display: flex;
  flex-flow: row wrap;
  flex-grow: 1;
  max-width: $max-post-size;
  padding: $small-spacing * 0.75;
  margin: $small-spacing * 0.5;
  align-items: center;
  border: $base-border;
  box-shadow: 0 2px 2px -2px #323232;
  background: #fff;

  .broccoli-point-icon {
    height: 20px;
    margin: 0 0.2em;
  }
  
}

img.profile {
	border-radius: 50%;
}

.user-post-data {
  padding: 0.5em 0.5em 0.5em 0;
  
  h2 {
    text-align: left;
    margin: 0;
    font-size: 1em;
    color: #000;
  }
  
  h3 {
    text-align: left;
    margin: 0;
    font-size: 0.85em;
    color: #000;
  }
}

.profile-name {
  display: flex;
  flex: 1 0 auto;
  align-items: center;
  justify-content: flex-end;
  font-size: 0.85em;
  padding: 0.5em;
}

// signIn-signUp form
#sign-up {
  background: transparent;
  border: 0;
  box-shadow: none;
  
  span {
    margin: auto;
  }
}

#new_user {
  display: none;
}

#new_user.active {
  display: block;
}