.post {
  display: flex;
  flex-flow: row wrap;
  max-width: $max-post-size;
  padding: $small-spacing * 0.75;
  margin: $small-spacing * 0.5;
  align-items: center;
  border: $base-border;
  box-shadow: $base-box-shadow;
  background: #fff;

  .item-image {
    position: relative;
    overflow: hidden;
  }

  .badge {
    position: absolute;
    top: 15px;
    left: 0;
    text-align: center;
    color: #fff;
    letter-spacing: 0.5px;
    font-size: $base-font-size * 0.7;
    //margin-left: 15px;

    &.requested-by {
      padding: 5px 10px 5px 10px;
      background: rgba(55,95,200,0.8);
    }
  }

  .headline {
    display: flex;
    flex: 1 0 100%;
    justify-content: space-between;

    h2 {
      margin: 0;
      display: flex;
      align-items: center;
      font-weight: $base-font-weight;
    }

    div {
      display: flex;
      align-items: center;
    }

    .broccoli-point-icon {
      height: 15px;
      width: 15px;
      margin: 0 $small-spacing * 0.1;
    }

    span {
      font-size: $base-font-size * 0.85;
      font-weight: $base-font-weight;
    }

    img {
      border-radius: 50%;
      width: 40px;
      height: auto;
    }
  }

  .detail {
    display: flex;
    flex: 1 0 100%;
    justify-content: space-between;
    padding-top: $small-spacing;

    h3 {
      font-size: $base-font-size * 0.85;
      margin: 0;
      font-weight: $base-font-weight;

      &:last-of-type {text-align: right;}
    }
  }
}
