.profile {
  span.hint {font-size: $base-font-size * 0.85;}
  padding: $small-spacing;

  .form-actions {
    margin: $base-spacing 0;
  }

  p {
    text-align: center;
  }

  .helpful-links {
    text-align: center;
    margin-bottom: $base-spacing;
  }

  .hidden { display: none; }
  
  h2 {
    text-align: center;
  }


}
