.sign-up {
  display: flex;
  opacity: 0;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  height: 0px;
  overflow: hidden;
  transition: all .5s ease;
  padding: 0 $small-spacing * 0.8;
  max-width: 500px;
  text-align: center;

  &.show {
    height:400px;
    transition: height .5s ease;
    opacity: 1;
  }

  .form-text-space {
    text-align: center;
    width: 100%;
  }

  h3 {
    font-size: $base-font-size * 1.5;

    #item-requested {
      text-decoration: underline;
    }
  }
}
