.welcome {
margin: $small-spacing * 2.5;
flex: 1 1 $max-post-size;
max-width: 400px;
text-align: center;
align-self: flex-start;

  img {
    position: relative;
    top: 15px;
    width: 150px;
  }

  ul li {
    display: flex;
    justify-content: space-between;

    &.resolved {
      color: $light-gray;

      span:before {
        content:"✓"
      }
    }
  }

  h3 {
    text-align: left;
  }
}

#directions-demo {
  display: block;
  border-radius: 50%;
  border: 4px solid $medium-green;
  padding: $base-spacing;
  margin: $base-spacing * -1;
}
