.welcome {
  padding: 0 0.6em;
  flex: 1 1 $max-post-size;
  max-width: 325px;
  text-align: center;
  align-self: flex-start;

  &:first-of-type {
    margin: 0 $base-spacing $base-spacing * 1.75 $base-spacing;
    align-self: center;
  }

  h1 { margin-bottom: 0.1em; }

  h4 {
    line-height: 1.45em;
  }

  img {
    position: relative;
    top: 15px;
    width: 150px;
  }

  ul li {
    display: flex;
    justify-content: space-between;

    &.resolved {
      color: $light-gray;

      span:before {
        content:"✓"
      }
    }
  }

  h3 {
    text-align: left;
  }
}

#directions-demo {
  display: block;
  border-radius: 50%;
  border: 4px solid $medium-green;
  padding: $base-spacing;
  margin: $base-spacing * -1;
}
