<div id="new-post">
  <div class="interactive-container hidden">
    <div class="bar">
      <a href="/"><i class="fa fa-close"></i></a>
    </div>
    <div class="canvas-container">
      <canvas id="image"></canvas>
    </div>
    <div class="image-controls">
      <button id="retake-image" class="blink" onclick="document.getElementById('inputImage').click()">
        <i class="fa fa-camera"></i><span> Camera</span>
      </button>
      <button id="rotate-left">
        <i class="fa fa-rotate-left"></i>
      </button>
      <button id="rotate-right">
        <span class="fa fa-rotate-right"></i>
      </button>
    </div>
    <div class="new-post-form">
    <%= simple_form_for(@post) do |f| %>
      <input type="file" id="inputImage" accept="image/*" capture>
      <%= f.association :item, label: false, prompt: "What is this?"  %>
      <%= f.association :vendor,label: false, prompt: "Where are you?" %>
      <div class="form-actions">
        <%= f.button :submit, "Post" %>
      </div>
    <% end %>
    </div>
  </div>
</div>
