<table class="body-wrap" bgcolor="#f6f6f6" style="font-family: Arial, sans-serif; font-size: 100%; line-height: 1.6em; width: 100%; margin: 0; padding: 20px;"><tr style="font-family: Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;">
<td style="font-family: Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;"></td>
    <td class="container" bgcolor="#FFFFFF" style="font-family: Arial, sans-serif; font-size: 100%; line-height: 1.6em; clear: both !important; display: block !important; max-width: 600px !important; Margin: 0 auto; padding: 20px; border: 1px solid #f0f0f0;">
      <!-- logo -->
      <div style="text-align: center; padding-bottom: 30px;">
        <img src="<%= image_url '/public/bbroc-logo.gif' %>" width="230" height="50" style="margin-left: auto; margin-right: auto; height:50px; width: 230px; padding: 20px;" alt="Best Broccoli">
      </div>
      <!-- content -->
      <div class="content" style="font-family: Arial, sans-serif; font-size: 100%; line-height: 1.6em; display: block; max-width: 600px; margin: 0 auto; padding: 0;">

      <table style="font-family: Arial, sans-serif; font-size: 100%; line-height: 1.6em; width: 100%; margin: 0; padding: 0;"><tr style="font-family: Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;">
<td style="font-family: Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;">
            <p style="font-family: Arial, sans-serif; font-size: 14px; line-height: 1.6em; font-weight: normal; margin: 0 0 10px; padding: 0;">Hi <%= @resource.name %>,</p>

            <h1 style="font-family: Arial,  sans-serif; font-size: 36px; line-height: 1.2em; color: #111111; font-weight: 200; margin: 40px 0 10px; padding: 0;">Welcome to Best Broccoli</h1>

            <h2 style="font-family: Arial,  sans-serif; font-size: 28px; line-height: 1.2em; color: #111111; font-weight: 200; margin: 40px 0 10px; padding: 0;">Find what's fresh in town.</h2>
            <p style="font-family: Arial, sans-serif; font-size: 14px; line-height: 1.6em; font-weight: normal; margin: 0 0 10px; padding: 0;">Start viewing posts and submitting requests.</p>
            <!-- button -->
            <table class="btn-primary" cellpadding="0" cellspacing="0" border="0" style="font-family: Arial, sans-serif; font-size: 100%; line-height: 1.6em; width: auto !important; Margin: 0 0 30px; padding: 0;"><tr style="font-family: Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;">
<td style="font-family: Arial,  sans-serif; font-size: 14px; line-height: 1.6em; border-radius: 25px; text-align: center; vertical-align: top; background: #2CD05F ; margin: 0; padding: 0;" align="center" bgcolor="#2CD05F " valign="top">
                  <%= link_to confirmation_url(@resource, confirmation_token: @token) do %>
                  <span style="font-family: Arial, sans-serif; font-size: 100%; line-height: 2; color: #ffffff; border-radius: 25px; display: inline-block; cursor: pointer; font-weight: bold; text-decoration: none; background: #2CD05F ; margin: 0; padding: 0; border-color: #2CD05F ; border-style: solid; border-width: 10px 20px;">Confirm my account</span>
                  <% end %>
                </td>
              </tr></table>
<!-- /button -->
            <p style="font-family: Arial, sans-serif; font-size: 14px; line-height: 1.6em; font-weight: normal; margin: 0 0 10px; padding: 0;">Cheers,</p>
            <p style="font-family: Arial, sans-serif; font-size: 14px; line-height: 1.6em; font-weight: normal; margin: 0 0 10px; padding: 0;"><a href="http://www.bestbroccoli.com" style="font-family: Arial, sans-serif; font-size: 100%; line-height: 1.6em; color: #2CD05F ; margin: 0; padding: 0;">Team Best Broccoli</a></p>
          </td>
        </tr></table>
</div>
      <!-- /content -->

    </td>
    <td style="font-family: Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;"></td>
  </tr></table>
<!-- /body --><!-- footer --><table class="footer-wrap" style="font-family: Arial, sans-serif; font-size: 100%; line-height: 1.6em; clear: both !important; width: 100%; margin: 0; padding: 0;"><tr style="font-family: Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;">
<td style="font-family: Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;"></td>
    <td class="container" style="font-family: Arial, sans-serif; font-size: 100%; line-height: 1.6em; clear: both !important; display: block !important; max-width: 600px !important; margin: 0 auto; padding: 0;">

      <!-- content -->
      <div class="content" style="font-family: Arial, sans-serif; font-size: 100%; line-height: 1.6em; display: block; max-width: 600px; margin: 0 auto; padding: 0;">
        <table style="font-family: Arial, sans-serif; font-size: 100%; line-height: 1.6em; width: 100%; margin: 0; padding: 0;"><tr style="font-family: Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;">
<td align="center" style="font-family: Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;">
              <p style="font-family: Arial, sans-serif; font-size: 12px; line-height: 1.6em; color: #666666; font-weight: normal; margin: 0 0 10px; padding: 0;">Don't like these emails? <a href="http://www.bestbroccoli.com/users/edit" style="font-family: Arial, sans-serif; font-size: 100%; line-height: 1.6em; color: #999999; margin: 0; padding: 0;"><unsubscribe style="font-family: Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;">Unsubscribe</unsubscribe></a>.
              </p>
            </td>
          </tr></table>
</div>
      <!-- /content -->

    </td>
    <td style="font-family: Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;"></td>
  </tr></table>
