<footer>
  <ul class="menu-links">
    <li><a href="/pages/about">about</a></li>
    <li><a href="/pages/feedback">feedback</a></li>
    <li><a href="/pages/privacy">privacy</a></li>
  </ul>
  <span>&copy; <%= Time.now.year %></span> made for the <i class="fa fa-heart-o"></i> of fresh produce
</footer>
