<footer>
  <ul class="menu-links">
    <li><a href="/pages/about">About</a></li>
    <li><a href="/pages/feedback">Feedback</a></li>
    <li><a href="/pages/privacy">Privacy</a></li>
  </ul>
  <%= image_tag "icon.svg", alt: "best broccoli gray logo" %>
  <span id="bottom" class="copyright">
  © <%= Time.now.year %> bestbroccoli.com
  </span>
</footer>
