<footer>
  <ul class="menu-links">
    <li><a href="#">about</a></li>
    <li><a href="#">feedback</a></li>
    <li><a href="#">legal</a></li>
  </ul>
  <span>&copy; <%= Time.now.year %></span> made for the <i class="fa fa-heart-o"></i> of fresh produce
</footer>
