<header>
  <h1 class="main-logo">
    <%= link_to root_path do %>
      <%= image_tag "icon.svg", alt: "best broccoli logo" %>Best Broccoli
    <% end %>
  </h1>
  <div class="nav">
    <a class="left" href="#"><i class="fa fa-heart"></i></a>
    <a class="middle active" href="#"><i class="fa fa-home"></i></a>
    <a class="right" href="#"><i class="fa fa-user"></i></a>
    <div class="menu-channel"><div class="menu-indicator"></div></div>
  </div>
</header>