<div id="left" class="panel">
  <div style="padding:1em;">
    <h2>Your List</h2>
    <p>
      Coming soon - Add items to your list and receive notifications when they become available.
    </p>
  </div>
</div>
