<div id="right" class="panel">
 <div id="sign-in-form">
  <h2>Welcome back!</h2>
    <p>This is a placeholder for the sign in form!</p>
    <%= link_to(" Logout #{current_user.first_name}", destroy_user_session_path, :method => :delete) %>
  </div>
</div>
