<%= render "layouts/head" %>
<body>
  <%= yield %>
  <%= render "javascript" %>
  <script>
    $("document").ready(function() {
      setTimeout(function() {
          $('#image').cropper('getImageData');
      },10);
    });
  </script>
</body>
